/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: #ffffff;
  line-height: 1.6;
  overflow-x: hidden; /* Evita a barra de rolagem horizontal */
}

/* Animação de Fade-In */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn2 {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* Efeito de luz dinâmica */
@keyframes lightEffect {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 10%;
  }
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.95);
  -webkit-mask: radial-gradient(circle 100px at var(--x, 50%) var(--y, 50%), transparent 0%, black 100%);
  mask: radial-gradient(circle 100px at var(--x, 50%) var(--y, 50%), transparent 0%, black 100%);
  pointer-events: none; /* impede que ela bloqueie o botão */
  z-index: 1;
}

/* Header */
#header {
  position: relative;
  overflow: hidden;
}

.bg-mask {
  background-image: url('bg-purple.webp');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  background-size: 130% 130%;
  animation: lightEffect 20s infinite alternate ease-in-out;
  overflow: hidden;
  pointer-events: none; /* impede que ela bloqueie o botão */
  z-index: 1;
}

.bg-mask::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(33, 33, 33, 0) 30%, #121212 100%);
  pointer-events: none; /* impede que ela bloqueie o botão */
  z-index: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  z-index: 2; /* acima das máscaras */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  z-index: 10;
  position: relative;
  z-index: 2;
}

.logo img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
}

.menu-icon{
  display: none;
  pointer-events: auto;
}

.logo img::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  transition: transform 0.5s ease;
  z-index: 1;
  pointer-events: none;
}

.logo img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.logo img:hover::before {
  transform: translate(50%, 50%) rotate(45deg);
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease, text-shadow 0.3s ease;
  position: relative;
  pointer-events: auto;
}

.menu a:hover {
  color: #d58cff;
  text-shadow: 0 0 10px #d58cff, 0 0 20px #d58cff;
}

.cta-button {
  background-color: #7e57c2;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  position: relative;
  z-index: 50;
  pointer-events: auto;
}

.cta-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -10%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
  transition: left 0.5s ease;
}

.cta-button:hover {
  background-color: #d58cff;
  box-shadow: 0 0 20px #d58cff;
}

.cta-button:hover::before {
  left: 10%;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 10;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.hero-content h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  background: linear-gradient(to bottom, #ffffff, #d58cff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  animation: fadeIn 1.5s ease-out;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #e2e2e2;
  animation: fadeIn 2s ease-out;
}

.hero-cta {
  padding: 15px 30px;
  font-size: 1.2rem;
  animation: fadeIn 2.5s ease-out;
}

.logo-carousel {
  overflow: hidden;
  width: 100%;
  background: #f9f9f900; /* ou transparente */
  padding: 20px 0;
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

.logo-slide {
  flex: 0 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-slide img {
  height: 60px;
  width: auto;
  object-fit: contain;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.logo-slide img:hover {
  opacity: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.video-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.video-overlay {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.3); /* opcional: leve escuridão */
}

/* Seções Gerais */
.section {
  padding: 80px 20px;
  text-align: center;
}

.section h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  background: linear-gradient(to bottom, #ffffff, #d58cff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  animation: fadeIn 1.5s ease-out;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  margin-bottom: 50px;
}

/* Serviços */
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.services-img{
  width: 150px;
  height: 150px;
  opacity: 0; /* Começa invisível */
  animation: fadeIn2 2s ease-in forwards;
}

.service-card {
  background-color: #212121;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  animation: fadeIn 1.5s ease-out;
}

.service-card:hover {
  transform: scale(1.05);
}

.service-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 1rem;
  color: #b0b0b0;
}

/* Portfólio */
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.portfolio-item img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.portfolio-item img:hover {
  transform: scale(1.1);
}

.portfolio-item p {
  margin-top: 10px;
  font-size: 1rem;
}

/* Contato */
.contact-content {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.contact-content div {
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #212121;
  color: #ffffff;
}

.author-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.author-info img {
  width: 500px;
  height: 500px;
}

.author-info p {
  text-align: start;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
}

/* Rodapé */
footer {
  background-color: #121212;
  padding: 20px;
  text-align: center;
}

footer p {
  font-size: 0.9rem;
  color: #b0b0b0;
}

.social-icons img {
  width: 30px;
  gap: 1rem;
  margin-top: 1.5rem;
}
.social-icons img:hover {
  
}

/* Media Queries para Mobile */
@media (max-width: 768px) {
  /* Menu Hamburguer */
  .menu-icon {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    color: #ffffff;
  }

  .menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #121212;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 20px;
    z-index: 1000;
  }

  .menu.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu a {
    font-size: 1rem;
    text-align: center;
  }

  .cta-button {
    width: 100%; /* Botão ocupa toda a largura */
    text-align: center;
  }

  /* Hero Content */
.hero-content {
  width: 100%;
}

  .hero-content h2 {
    font-size: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .hero-content p {
    font-size: 1.2rem;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .hero-cta {
    font-size: 1rem;
    padding: 10px 20px;
  }

  /* Seções Gerais */
  .section {
    padding: 40px 10px;
  }

  .section h2 {
    font-size: 1.8rem;
  }

  /* Serviços */
  .service-card h3 {
    font-size: 1.2rem;
  }

  .service-card p {
    font-size: 0.9rem;
  }

  /* Portfólio */
  .portfolio-item p {
    font-size: 0.9rem;
  }

  /* Depoimentos */
  .testimonial-slider {
    flex-direction: column;
  }

  .testimonial {
    flex: 0 0 100%;
  }

  .testimonial img {
    width: 80px;
    height: 80px;
  }

  /* Contato */
  .contact-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .author-info{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .author-info img {
    width: 350px;
    height: 350px;
    width: 100%;
  }
  
  .author-info p {
    width: 100%;
    font-size: 1.4rem;
    text-align: start;
    margin-left: 10px;
    margin-right: 10px;
  }

  /* Rodapé */
  footer p {
    font-size: 0.8rem;
  }

  .social-icons img {
    width: 25px;
  }
}

.form-lead {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background: #f2f2f200;
  border-radius: 8px;
  margin-top: -6rem;
  margin-bottom: 3rem;
}

.form-lead input,
.form-lead textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc9a;
  border-radius: 6px;
  font-size: 16px;
  background-color: #cccccc59;
  color: white;
}

.form-lead button {
  background-color: #7e57c2;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.form-lead button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -10%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
  transition: left 0.5s ease;
}


.form-lead button:hover::before {
  left: 10%;
}

.form-lead button:hover {
  background: #5e3ea1;
}

.galeria-links {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 40px 20px;

  max-width: 1000px;    /* define uma largura máxima */
  margin: 0 auto;        /* centraliza horizontalmente */
  margin-top: -5rem;
  margin-bottom: 4rem;
}

.galeria-links a {
  display: block;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.galeria-links a:hover {
  transform: scale(1.03);
}

.galeria-links img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

/* Layout de 3 colunas em telas maiores */
@media (min-width: 768px) {
  .galeria-links {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Esconde o <br> no mobile */
.quebra-desktop {
  display: none;
}

/* Mostra o <br> apenas no desktop */
@media (min-width: 768px) {
  .quebra-desktop {
    display: inline;
  }
}
